<!DOCTYPE html>
<html>

<head>
    <title><%= tourDetails.title %></title>
    <link rel="stylesheet" type="text/css" media="screen" href="/public/assets/css/tours-details.css"/>

    <%- include('partials/head') %>

    <div class="coverDiv">
        <img id="coverDivImg" src="/public/assets/images/tours-header.avif" alt="">
    </div>

    <div class="textDiv">
            <h1><%= tourDetails.title %></h1>
            
            <p><%= tourDetails.description %>
            </p>

            <h3 style="color: rgb(195, 33, 33);">Duration of tour</h3>
            <i class="fa fa-calendar" aria-hidden="true" style="margin-right: 5px; color: rgb(195, 33, 33);"></i>
            <%= tourDetails.days %> <% if(tourDetails.days > 1) { %> Days Tour <% } else{ %> Day Tour <% } %>
            
            <% if(tourDetails.touristAttractions) { %>
            <h3 style="color: rgb(195, 33, 33);">Tourist Attractions</h3>
            <% var tourist_attractions = tourDetails.touristAttractions.replace(/\r\n/g, "\n").split("\n"); %>
            <ul>
                <% for(let tourist_attraction of tourist_attractions) { %>
                    <li> <%= tourist_attraction %></li>
                <% } %>
            </ul>
            <% } %>

            <% if( tourDetails.dayDetails.length ) { %>
            <h3 style="color: rgb(195, 33, 33);">Tour Itinerary</h3>
            <% var i = 0 %>
            <% for(let day_details of tourDetails.dayDetails) { i+=1; %>
                    <h4 style="color: rgb(195, 33, 33);">Day <%=i%></h4>
                <% var day_detail = day_details.replace(/\r\n/g, "\n").split("\n"); %>
                <ul> 
                    <% for(let detail of day_detail) { %>  
                        <li>
                            <%= detail %>
                        </li> 
                    <% } %>  
                </ul>
            <% } %>
            <h4 style="color: rgb(195, 33, 33); text-align: center; margin-top: 60px;">>>> END OF TOUR <<<</h4>
            <% } %>

            <div class="packageHeadingDiv">
                <h3>Package Includes</h3>
            </div>
            <% var package_inclusions = tourDetails.packageInclusion.replace(/\r\n/g, "\n").split("\n"); %>
            <ul>
                <% for(let package_inclusion of package_inclusions) { %>
                <li> <%= package_inclusion %> </li>
                <% } %>
            </ul>

            <div class="packageHeadingDiv">
                <h3>Package Excludes</h3>
            </div>
            <% var package_exclusions = tourDetails.packageExclusion.replace(/\r\n/g, "\n").split("\n"); %>
            <ul style="margin-bottom: 60px;">
                <% for(let package_exclusion of package_exclusions) { %>
                    <li> <%= package_exclusion %> </li>
                <% } %>
            </ul>

            <div class="expandableTextDiv">
                <div class="expandableTextHeadingDiv1">
                    <h3 class="expandableTextHeading">
                        Important Note
                    </h3>
                    <i class="fa fa-2x fa-angle-down downArrow1"></i>

                </div>
                <div class="closedText1">
                    <ol>
                        <li>Separate Room for twin sharing will be charged extra as mentioned above.</li>
                        <li>Due to unavoidable conditions (Unexpected Landslides / Rain / Closure of Route & Roads) the itinerary can be changed at any time in the tour.</li>
                        <li>In case of any Change in tour plan due to unavoidable Conditions as mention above, result in the change of cost and the extra amount will be paid by the guest on sharing basis.</li>
                        <li>Team GLEE Tours And Travels not responsible for Train Bogies or Coaches condition, also not responsible for late timing arrival or departure as its beyond of our control.</li>
                        <li>Don't pollute the environment or you will be charged for it.</li>
                        <li>Please ensure following the team leader's orders.</li>
                        <li>Be thoughtful of not failing any ethical integrity.</li>
                        <li>Make sure you travel like a family and make all its members safe and connected to each other while respecting the locals.</li>
                    </ol>
                </div>
            </div>
            
            <div class="expandableTextDiv">
                <div class="expandableTextHeadingDiv2">
                    <h3 class="expandableTextHeading">
                        Terms & Conditions
                    </h3>
                    <i class="fa fa-2x fa-angle-down downArrow2"></i>
                </div>
                <div class="closedText2">
                    <p></p><i>(Our Terms & Conditions are strictly followed and applied. We encourage you to read and agree with them carefully before
                        booking a trip with us.)</i></p>
                        <ul>
                            <li>Minimum number to carry out a trip is 10, in case a trip is called off by GLEE Tours And Travels due to low registration the members who have paid will be entitled to a 100% refund or transfer amount to the next upcoming trip.</li>
                            <li>We will avoid using meal provided in train or at the platforms as it is un-healthy.</li>
                            <li>Every member must keep his/her original CNIC.</li>
                            <li>Member should have to report 30 mints before departure time.</li>
                            <li>Only 10 Kg Cargo bags are allowed & every member is responsible for his/her own baggage, and has to carry its own luggage.</li>
                            <li>Member must behave ethically with his/her fellow group members; Otherwise GLEE Tours And Travels can cancel his/her membership at any time.</li>
                            <li>GLEE Tours And Travels is not responsible for personal injuries and accidents, (first aid will be given).</li>
                            <li>GLEE Tours And Travels is not responsible for loss of any kind of valuable item.</li>
                            <li>No returns will be made in case of cancellation of booking before ONE WEEK of departure date.</li>
                            <li>No refunds shall be made in case of a natural disaster or any unforeseen circumstance beyond human control including but not limited to rains, storms, land sliding, accident, flat tires, engine failure or other vehicle mal-function etc.</li>
                            <li>GLEE Tours And Travels can cancel booking at any time.</li>
                            <li>GLEE Tours And Travels can change terms and conditions at any time.</li>
                            <li>Personal weapons are strictly not allowed.</li>
                            <li>Separate rooms for couples, but will be charged accordingly.</li>
                            <li>No drugs or alcohol will be entertained, members should avoid from all sort of illegal and unethical stuff.</li>
                            <li>Sight tickets for forts are not included in the package.</li>
                        </ul>
                </div>
            </div>

            <div class="expandableTextDiv">
                <div class="expandableTextHeadingDiv3">
                <h3 class="expandableTextHeading">
                    Undertaking by Guest
                </h3>
                <i class="fa fa-2x fa-angle-down downArrow3"></i>
                </div>
                <div class="closedText3">
                <p>I understand that the adventure/outdoor activities carry a potential risk of personal injury. 
            I further undertake that neither I nor my heirs or legal representatives shall raise any compensation from the management 
            or operational staff or any Team Member of GLEE Tours And Travels.</p>
                </div>
            </div>
            
            <div class="expandableTextDiv">
                <div class="expandableTextHeadingDiv4">
                    <h3 class="expandableTextHeading">
                        Booking Procedure & Details
                    </h3>
                    <i class="fa fa-2x fa-angle-down downArrow4"></i>
                </div>
                <div class="closedText4">
                    <ul>
                        <li>From Islamabad 10 days before departure date</li>
                        <li>From Karachi 15-18 Days before the departure date.  (Book Now to avoid train/bus/Air tickets issues)</li>
                        <li>After that we will not be able to book train tickets.
                        </li>
                        <li>20 seats on first come first get basis
                        </li>
                    </ul>

                    <h3>Children Policy</h3>
            <ul>
            <li>Up to 2 years stay free (no seat).</li>
            <li>2-9 Years Kids will be charge 50% of event fee (Basic ISB Package).</li>
            <li>Mode of Travel from Karachi on Train / Bus / Air will be charges as per concerned authorities polices.</li>
            <li>Will be allotted folding seat during trip and will accommodate with parents in Hotel.</li>
        </ul>
        <h3>Cancellation Policy</h3>
        <ul>
            <li>7 Days Before Event Date: Rs. 5000 per person deduction for Islamabad members.</li>
            <li>Rs. 5000 + Train ticket cancellation charges per person deduction for Karachi members.</li>
            <li>Less than 7 Days and 2 Days before Event Date: 50% deduction of Event Fee.</li>
            <li>Less than 2 days (After or before 48 Hours of Event): No refund of event fee.</li>
        </ul>    
                </div>
            </div>

            <div class="expandableTextDiv">
                <div class="expandableTextHeadingDiv5">
                    <h3 class="expandableTextHeading">
                        Mode of Payment
                    </h3>
                    <i class="fa fa-2x fa-angle-down downArrow5"></i>
                </div>
                <div class="closedText5">
                    <p>You can deposit from any Bank in Pakistan or Transfer through ATM, Internet or mobile Banking / 
                        Cash collection is also possible as per you convenient only in Karachi, Hyderabad, Islamabad & Lahore.
                    <br>
                    Share with us your details for booking:
                </p>
                    <ul>
                        <li>No. of Persons</li>
                        <li>Participants names</li>
                        <li>Payment receipt</li>
                        <li>CNIC numbers of participants</li>
                        <li>Contact numbers of participants</li>
                    </ul>
                    <p>
                        Cash Deposit | Online Transfer | EasyPaisa | Jazz Cash | Bank Account
                        <br>
                        <br>
                        EasyPaisa and Jazz Cash account:
                        <br>
                        Account number:
                        <br>
                        03000233669
                        <br>
                        Account title:
                        <br>
                        HASEEB AKHTAR
                        <br>
                        <br>
                        Bank Account:
                        <br>
                        Account number:
                        <br>
                        1107004800516701
                        <br>
                        Account title:
                        <br>
                        HASEEB AKHTAR
                        <br>
                        BANK AL HABIB LIMITED
                    </p>
                    <p>
                    Confirm your Payment by sending us the Payment Receipt via Email to GLEE Tours And Travels WhatsApp or Text on the provided cell numbers.
                </p>
                </div>
            </div>

            <div class="expandableTextDiv">
                <div class="expandableTextHeadingDiv6">
                <h3 class="expandableTextHeading">
                    Contact for Booking
                </h3>
                <i class="fa fa-2x fa-angle-down downArrow6"></i>
                </div>
                <div class="closedText6">
                <p>GLEE Tours And Travels office address:
                    <br>
                    <br>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> CLIFTON BLOCK 2 JASON TARRACE APARTMENT OPP BILAWAL HOUSE CLIFTON, KARACHI 
                    <br>
                    <br>
                    Contact Us:
                    <br>
                    <br>
                    <i class='fa fa-phone' style="font-size: 22px;"></i>  03000233669 | 03130017515</p>
                </div>
            </div>


    </div>

    <img style="display: block;" src="/public/assets/images/wave3.svg" alt="">
    <footer>
        <img src="/public/assets/images/logo.avif">
        <!--<p>Copyright &#169; 2022 Glee Tours and Travels</p>-->
        <div>
            <h2>
                <p>FOLLOW US</p>
                <p>
                    <a href="https://www.facebook.com/gleetours.pk"><i class="fab fa-facebook" style="text-decoration: none; color: white;"></i></a>
                    <a href="https://instagram.com/gleetours.pk?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram" style="text-decoration: none; color: white;"></i></a>
                </p>
            </h2>
            <h2>
                <p>CONTACT US</p>
                <p>
                    <i class='fa fa-phone'></i>
                    <span>03000233669</span>
                </p>
            </h2>
        </div>

    </footer>

    <script src="/public/assets/js/tour-details.js"></script>

</body>

</html>
