<!DOCTYPE html>
<html>
    <head>
        <title>
            Admin Panel
        </title>
        <link rel="stylesheet" type="text/css" media="screen" href= "/public/assets/css/admin.css"/>
        <script src="https://kit.fontawesome.com/3125f5a1ec.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alice&family=DM+Serif+Text&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yrsa:wght@300&family=Open+Sans:wght@400;500;600&family=Staatliches&family=Vidaloka&display=swap"
            rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700;800&display=swap" rel="stylesheet">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="mainDiv">
            <div class="navigationDivWrapper">
                <div class="navigationDiv">
                    <div class="logoDiv">
                        <img src="/public/assets/images/glee-logo3.png" alt="Logo">
                    </div>
                    <div class="linksDiv">
                        <% if(admin) { %>
                            <a href="/admin/logout"><p>Log Out</p></a>
                        <% } %>
                        <a href="/admin/messages"><h4 >Messages</h4></a>
                        <a href="/admin/view-tours"><h4>Tours</h4></a>
                        <a href="/admin"><h4>Home</h4></a>
                    </div>
                </div>
            </div>  
            <div class="navBarWrapper">
                <nav class="navbar" id="navbar">
                    <div class="navLogo" id="navLogo">
                        <img class="navLogo-img" id="navLogo-img" src="/public/assets/images/glee-logo3.png" alt="logo"> </div>
                        <div class="dropdown">
                        <button class="headerBtn bar" id="menuBtn" onclick="myFunction()">
                            <i class="fa fa-bars"></i>
                        </button>
                        <div class="dropdown-content" id="dropdown-content">
                          <a href="/admin">Home</a>
                          <a href="/admin/view-tours">Tours</a>
                          <a href="/admin/messages">Messages</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="dataDiv">
                <div class="dataHeadingDiv">
                    <h2>Tour Details</h2>
                    <div>
                        <a href="/admin/edit-tour-details/<%=tourDetails._id%>">
                            <button class="filledBtn">
                                <i class="fa fa-edit">
                                </i>&nbsp;&nbsp;Edit Details
                            </button>
                        </a>
                    </div>
                </div>
                <div class="dataDetailsDiv">
                    <div class="dataDetailsImageDiv">
                        <span>
                            <img src="/public/assets/images/<%=tourDetails.image.filename%>" alt="<%=tourDetails.image.filename%>">
                        </span>
                    </div>
                    <span>
                        <p style="font-size: 15px; color: rgb(99, 99, 99); margin-bottom: 0;">Title</p>
                        <p style="font-size: 18px; margin-top: 5px;"><%= tourDetails.title %></p>
                    </span>
                    <span>
                        <p style="font-size: 15px; color: rgb(99, 99, 99); margin-bottom: 0;">No.of days</p>
                        <p style="font-size: 18px; margin-top: 5px;"><%= tourDetails.days %></p>
                    </span>
                    <span>
                        <p style="font-size: 15px; color: rgb(99, 99, 99); margin-bottom: 0;">Description</p>
                        <p style="font-size: 18px; margin-top: 5px;"><%= tourDetails.description %></p>
                    </span>
                    <span>
                        <% if(tourDetails.touristAttractions) { %>
                        <p style="font-size: 15px; color: rgb(99, 99, 99); margin-bottom: 0;">Tourist Attractions</p>
                        <% var tourist_attractions = tourDetails.touristAttractions.replace(/\r\n/g, "\n").split("\n"); %>
                        <ul style="margin: 0; padding: 0; margin-top: 5px;">
                            <% for(let tourist_attraction of tourist_attractions) { %>
                                <li style="font-size: 18px; list-style: none;"> <%= tourist_attraction %></li>
                            <% } %>
                        </ul>
                        <% } %>
                    </span>
                    <span>
                        <% if( tourDetails.dayDetails.length ) { %>
                        <p style="font-size: 15px; color: rgb(99, 99, 99); margin-bottom: 0; margin-top: 25px;">Tour Itinerary</p>
                        <% var i = 0 %>
                        <% for(let day_details of tourDetails.dayDetails) { i+=1; if( i > tourDetails.days ){ break; }%>
                            <p style="margin-top: 10px; margin-bottom: 10px;">Day <%=i%></p>
                        <% var day_detail = day_details.replace(/\r\n/g, "\n").split("\n"); %>
                        <ul style="margin: 0; padding-left: 30px;"> 
                            <% for(let detail of day_detail) { %>  
                                <li style="font-size: 18px; list-style: none;">
                                <%= detail %>
                                </li> 
                            <% } %>  
                        </ul>
                        <% } %>
                        <% } %>
                    </span>
                    <span>
                        <p style="font-size: 15px; color: rgb(99, 99, 99); margin-bottom: 0; margin-top: 25px;">Package Includes</p>
                        <% var package_inclusions = tourDetails.packageInclusion.replace(/\r\n/g, "\n").split("\n"); %>
                        <ul style="margin: 0; padding: 0; margin-top: 5px;">
                            <% for(let package_inclusion of package_inclusions) { %>
                                <li style="font-size: 18px; list-style: none;"> <%= package_inclusion %> </li>
                            <% } %>
                        </ul>
                    </span>
                    <span>
                        <p style="font-size: 15px; color: rgb(99, 99, 99); margin-bottom: 0; margin-top: 25px;">Package Excludes</p>
                        <% var package_exclusions = tourDetails.packageExclusion.replace(/\r\n/g, "\n").split("\n"); %>
                        <ul style="margin: 0; padding: 0; margin-top: 5px;">
                            <% for(let package_exclusion of package_exclusions) { %>
                                <li style="font-size: 18px; list-style: none;"> <%= package_exclusion %> </li>
                            <% } %>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
        <script src="/public/assets/js/admin.js"></script>
    </body>
</html>